.Kanji-card {
  border: 1px solid grey;
  background-color: white;
  width: 150px;
  height: 200px;
  margin: 50px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
}

.Kanji-character {
  font-size: 3rem;
  transition: all ease 500ms;
}

.Kanji-character:hover {
  transform: scale(1.8);
}